.mask,.mask2{top:0;left:0}.boxMask,span{display:inline-block}	body{
			 display: block;
			width: 100%;
			line-height: 1.4;
			overflow-x: hidden !important;
			font-family: monospace;
			color:#20B2AA;
			
			background: #fff url('https://miro.medium.com/max/5040/1*sUI4nkPfH0wevBQMb29cnQ.jpeg')  center center fixed; 
			background-size: 100% 100%;
				}.abm{color:#00FFFF;font-size:28pt;}*{font-family:Roboto,sans-serif}.boxMask{position:relative;overflow:hidden}.mask,.mask1,.mask2,.maskImage{position:absolute;width:100%;height:100%}.mask1{background-color:#4285f4}.maskImage{background-color:#00FFFF}.mask2{margin-left:60%}.avatar img{width:200px;border-radius:100%}.avatar{position:relative}.avatar_layer{position:absolute;width:100%;height:100%;top:0;left:0}.avatar_layer svg{width:200px}span{white-space:pre}.test{opacity: 0;}